.toolbar {
    position:fixed;
    height:27px;
    top:0;
    left:0;
    right:0;
    border-bottom:#ccc solid 1px;
}
.toolbar {
    background:#f0f0f0;
}
.toolbar a.pill, .toolbar .dropdown > a {
    display:inline-block;
    padding:1px 5px;
    font-weight:bold;
    font-size:11px;
    color:inherit;
    line-height:15px;
    margin: 5px 0;

}
.toolbar a.pill.active {
    background:#aaa;
    color:white;
    border-radius:10px;
}
.toolbar form {
    margin: 0 0 0 16px;
    display: inline-block;
}
.toolbar input {
    font-weight:bold;
    font-size:12px;
    background:none;
    box-shadow:none;
    border:none;
    color:inherit;
    outline:0;
    line-height:24px;
    width:115px;
}
.toolbar .dropdown {
    margin-right:10px;
    top:-2px;
    
}
.toolbar .dropdown-menu {
    margin-top:9px;
    margin-right:0px;
}
.modal-backdrop, .modal-backdrop.fade.in {
opacity: 0.5;
}
.btn-inverse {
    background:#444;
    border-radius:0;
}