/*!
 * Apps CSS
 *
 */
 
/* Layout */

body {
line-height:14px;
-webkit-user-select:none;

}
div {
cursor:default;
}
header {
}
aside {
    position:fixed;
    top: 28px;
    bottom: 0;
    width: 150px;
    overflow: auto;
    
}
article {
    margin-left:151px; 
    margin-top: 28px;
}

#loading {
    margin-top:10em;
    text-align:center;
    opacity: .5;
}
/* Colors */

body {
    background : white;
    color : #444;
}
a {

}
header {
    background: #eee;
    border-bottom:#ccc solid 1px;
}
aside {
    background: #eee;
    border-right: #ccc solid 1px;
}

aside a {
    color: black;
    opacity : .75;
    /*-webkit-transition: opacity linear 0.2s, background linear 0.2s;*/
}
aside .active a {
    opacity : 1;	
}
aside a:hover {
    color: black;	
}


input[type="text"] {
    -webkit-transition : none;
    transition : none;
}
input[type="text"]:focus {
    box-shadow : none;
}
/* Fonts */

body {
   font-family :ubuntu, sans-serif;    
   font-size:13px
   
}

/** bootstrap fixes **/

/* Menu */
.dropdown-menu .btn-group > .btn:first-child,
.dropdown-menu .btn-group > .btn:last-child
 {
    border-radius : 0;  /* square corner for buttons in menu */
}

.dropdown-menu .btn-group > .btn
 {
    padding : 0 6px;    
}
.btn-menu {
    padding: 3px 20px;
    clear : both;		
}
.btn-menu span {
    display : inline-block;
    min-width:70px;
}

.btn-menu .btn-group {
    display : inline-block;
}
 .thumbnail {
    background : white;
 }

.modal, .dropdown-menu { border-radius : 0;}
.btn {border-radius:2px}
/* Navbar */

/** Themes **/

/* Default (adwaita) */

/* Ambiance */

.ambiance aside {
    background : #E7E5E4;
}
.ambiance body {
    background : #F2F1F0;
    color : #4C4C4C;
}
.ambiance .nav-list > .active > a, 
.ambiance .nav-list > .active > a:hover {
    background: #F07746;
}
input[type="text"]:focus {
    border-color: #F07746;
}
/* list view */


#list {
    list-style-type:none;
    margin:0;
    padding:0;
}

#list.list-view li {
    padding-bottom : 6px;
    padding-top : 6px;
    border-bottom : solid #eee 1px;
    clear:both;
}

#list.list-view li .image {
    float: left;
}
#list.list-view li .text{
    margin-left: 44px;
}
#list li .info {
    border-top : solid #eee 1px;
    margin-top:6px;
    padding-top : 6px;
    margin-right : 44px;
}
#list li .info .details {
    margin-right:190px;
    text-align : justify;
}
#list .image img {
    max-width: 32px;
    max-height: 32px;
} 

#list .image  {
    width: 32px;
    margin:6px;
    text-align:center;
} 
#list .name {
    font-weight: bold;  
}

.loading { background : #faf9f9;   }


#list.icons-view li {
   display:inline-block;
   width:96px;
   height:96px;
   text-align:center;
}
#list.icons-view li .comment {
    display:none;
}
#list.icons-view li .image {
    margin:6px auto;
}

/* Pages */
.pages {
    margin:0;
    list-style-type:none;
    display:inline-block;
}
.pages li {
    display:inline-block;
}
.pages li a {
    padding:5px;
    font-weight:bold;
}
.pages li a.active {
    color: inherit;
}

/* Toolbar */

.toolbar {
    position:fixed;
    height:27px;
    top:0;
    left:0;
    right:0;
    border-bottom:#ccc solid 1px;
}
.toolbar {
    background:#f0f0f0;
}
.toolbar a.pill, .toolbar .dropdown > a {
    display:inline-block;
    padding:1px 5px;
    font-weight:bold;
    font-size:11px;
    color:inherit;
    line-height:15px;
    margin: 5px 0;

}
.toolbar a.pill.active {
    background:#aaa;
    color:white;
    border-radius:10px;
}
.toolbar form {
    margin: 0 0 0 16px;
    display: inline-block;
}
.toolbar input {
    font-weight:bold;
    font-size:12px;
    background:none;
    box-shadow:none;
    border:none;
    color:inherit;
    outline:0;
    line-height:24px;
    width:115px;
}
.toolbar .dropdown {
    margin-right:10px;
    top:-2px;
    
}
.toolbar .dropdown-menu {
    margin-top:9px;
    margin-right:0px;
}
.modal-backdrop, .modal-backdrop.fade.in {
opacity: 0.5;
}
.btn-inverse {
    background:#444;
    border-radius:0;
}
